section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info-contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4rem;
}
.contact-me{
    margin-top: 18px;
}
.info{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}