.abt{
    display: flex;
    span{
        justify-content: center;
        align-items: center;
        .mat-icon{
            margin-top: -5px;
        }
    }
    
}
a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid gray !important;
}

.under-line{
    width: 85%;
    height: 0.2px;
    background-color: black;
    margin-bottom: 20px;
}
.content{
    span{
        margin-top: 10px;
        font-size: 24px;
        // font-weight: 600;
    }
    p{
        width: 50%;
        margin-top: 15px;
    }
}

@media (min-width: 360px) and (max-width: 700px){
    .content p{
        width: 100%;
    }
    .under-line{
        width: 100%;
    }
}